.vt-about-content {
	gap: 30px;
	max-width: 1090px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
	&.page_version {
		max-width: 100%;
		.vt-about-counter {
			&:before {
				display: none;
			}
		}
		.vt-about-text-wrap {
			max-width: 800px;
		}
	}
}
.vt-about-text-wrap {
	max-width: 780px;
	.vt-section-title {
		.section_title {
			max-width: 635px;
		}
		p {
			padding-top: 40px;
		}
	}
}
.vt-about-counter {
	max-width: 235px;
	@media #{$md,$sm,$xs} {
		gap: 30px;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	&:before {
		top: 0;
		bottom: 0;
		left: -40px;
		width: 2px;
		content: ''; 
		height: 0;
		margin: auto 0;
		position: absolute;
		background-color: #C9F7CA;
		transition: all 900ms ease;
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	&.active {
		&:before {
			height: 100%;
			transition-delay: 1800ms;
		}
	}
}
.vt-counter-item {
	margin-bottom: 48px;
	@media #{$md,$sm,$xs} {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	h3 {
		line-height: 1;
		font-size: 64px;
		font-weight: 400;
		letter-spacing: -2px;
		font-family: var(--vt-body-font);
		color: var(--vt-title-color);
		b {
			color: #B0B0B0;
			font-size: 45px;
			font-weight: 600;
			margin-left: 10px;
		}
		@media #{$md,$sm,$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
	p {
		max-width: 115px;
		line-height: 1.2;
		margin-left: 20px;
		@media #{$xxs} {
			font-size: 18px;
		}
	}
}
.vt-about-counter-2 {
	.vt-about-counter {
		gap: 30px 72px;
		max-width: 775px;
		@media #{$md,$sm,$xs} {
			max-width: 100%;
		}
		&:before {
			display: none;
		}
		.vt-counter-item {
			margin-bottom: 0;
		}
	}
	&.ver_2 {
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		padding: 40px 15px;
		position: absolute;
		border-radius: 24px;
		backdrop-filter: blur(5px);
		background-color: rgba(255, 255, 255, 0.88);
		@media #{$xs} {
			position: static;
		}
	}
}