.vt-banner-section {
	overflow: hidden;
	&.video_bg {
		&:after {
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			content: '';
			position: absolute;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0) 100%);
		}
	}
	.bt-banner-img {
		width: 100%;
		z-index: -1;
		height: 100%;
		img,video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.5);
		}
	}
	.vt-vertical-shape-2 {
		bottom: 0;
		height: 55px;
		span {
			background-color: #fff;
			&:nth-child(1) {
				margin-bottom: 16px;
			}
		}
	}
	.vt-banner-shape {
		right: 0;
		bottom: 0px;
		position: absolute;
		svg {
			mix-blend-mode: overlay;
			path {
				clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
				transition: all 1500ms ease;
			}
		}
		@media #{$sm,$xs} {
			display: none;
		}
	}
	&:before {
		left: 0;
		top: 40px;
		width: 100%;
		content: '';
		height: 200px;
		position: absolute;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
		@media #{$md,$sm,$xs} {
			top: 0;
			height: 100%;
		}
	}
	&.vertical_top {
		&:before {
			top: 0;
		}
	}
	&.dark_version {
		&:before {
			background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
		}
	}
	&.active {
		.vt-banner-shape  {
			svg {
				path {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					&:nth-child(1) {
						transition-delay: 500ms;
					}
					&:nth-child(2) {
						transition-delay: 700ms;
					}
					&:nth-child(3) {
						transition-delay: 900ms;
					}
					&:nth-child(4) {
						transition-delay: 1100ms;
					}
					&:nth-child(5) {
						transition-delay: 1300ms;
					}

					&:nth-child(6) {
						transition-delay: 1500ms;
					}
				}
			}
		}
		.banner-slug {
			transition-delay: 500ms;
			clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		}
		.bt-banner-img {
			img {
				transform: scale(1);
				transition: all 3500ms ease;
			}
		}
	}
}
.vt-banner-text {
	z-index: 1;
	max-width: 550px;
	padding-top: 245px;
	position: relative;
	padding-bottom: 195px;
	@media #{$xxs} {
		padding-top: 180px;
		padding-bottom: 100px;
	}
	.banner-slug {
		line-height: 1;
		font-size: 15px;
		padding: 6px 20px;
		position: relative;
		margin-bottom: 16px;
		display: inline-block;
		transition: all 1000ms ease;
		clip-path: polygon(53% 0, 53% 0, 53% 100%, 53% 100%);
		background: linear-gradient(90deg, #DBF0FF 0%, #DFE2FF 50%, #F6DFFF 100%);
		&:before,
		&:after {
			top: 12px;
			width: 4px;
			height: 4px;
			content: '';
			border-radius: 100%;
			position: absolute;
			background-color: var(--vt-title-color);
		}
		&:after {
			right: 10px;
		}
		&:before {
			left: 10px;
		}
	}
	.banner_title {
		line-height: 1;
		font-size: 	64px;
		overflow: hidden;
		padding-bottom: 5px;
		letter-spacing: -2px;
		color: var(--vt-title-color);
		@media #{$md} {
			font-size: 55px;
		}
		@media #{$xs} {
			font-size: 45px;
		}
		.split-line {
			overflow: visible;
		}
	}
	p {
		padding-top: 25px;
		padding-bottom: 32px;
	}
	&.dark_version {
		.banner-slug {
			color: #C9F7CA;
			background: rgba(201, 247, 202, 0.16);
			&:before,
			&:after {
				background-color: #C9F7CA;
			}
		}
		.banner_title {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .72);
		}
		.vt-btn {
			a {
				color: var(--vt-title-color);
				background-color: #C9F7CA;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}