.vt-blog-section {
	overflow: hidden;
	background-color: #E7E7E7;
	.vt-vertical-shape-2 {
		bottom: 8px;
		span {
			background-color: #fff;
			&:nth-child(1) {
				margin-bottom: 14px;
			}
		}
	}
}
.vt-blog-item {
	max-width: 384px;
	margin: 0 auto;
	margin-bottom: 30px;
	.item-img {
		overflow: hidden;
		margin-bottom: 24px;
		position: relative;
		img {
			transition: all 500ms ease;
		}
		.img_shape {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				mix-blend-mode: overlay;
			}
		}
		&:before {
			top: 50%;
			bottom: 50%;
			opacity: 1;
			left: 0;
			z-index: 1;
			content: "";
			right: 0;
			position: absolute;
			pointer-events: none;
			transition: all 500ms linear;
			background: rgba(255, 255, 255, 0.4);
		}
	}
	.item-tag {
		margin-bottom: 18px;
		a {
			display: block;
			margin-bottom: 5px;
			span {
				padding: 8px 10px;
				line-height: 1;
				font-size: 15px;
				display: inline-block;	
				background-color: #fff;
				color: var(--vt-title-color);
			}
		}
	}
	.blog_title {
		color: var(--vt-title-color);
		font-weight: 500;
		font-size: 23px;
		line-height: 1.30;
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
			}
			&:before {
				top: 0;
				bottom: 0;
				opacity: 0;
				transition: all 500ms linear;
			}
		}
	}
	&.ver_2 {
		.item-img-meta {
			.item-tag {
				left: 8px;
				bottom: 6px;
				margin-bottom: 0;
				position: absolute;
			}
		}
		.item-tag { 
			a {
				span {
					background-color: #D1D1D1;
				}
			}
		}
		.blog_title {
			font-size: 23px;
			color: var(--vt-title-color);
		}
	}
}