.vt-go-back {
	padding-top: 180px;
	padding-bottom: 50px;
	&.ver_2 {
		padding-bottom: 0;
	}
	.go-back-btn {
		a {
			color: #3533FF;
			font-size: 15px;
			font-family: var(--vt-heading);
			i {
				margin-right: 8px;
				transition: all 500ms ease;
			}
			&:hover {
				i {
					margin-right: 10px;
				}
			}
		}
	}
}
.vt-team-detail-content {
	gap: 30px 48px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
}
.vt-team-detail-img {
	width: 100%;
	max-width: 384px;
}
.vt-team-detail-text {
	max-width: 592px;
	.name-degi {
		padding-bottom: 16px;
		border-bottom: 1px solid var(--vt-title-color);
		h3 {
			line-height: 1;
			font-size: 45px;
			padding-bottom: 10px;
			letter-spacing: -2px;
			color: var(--vt-title-color);
			@media #{$sm,$xs} {
				font-size: 30px;
			}
		}
		span {
			color: #6D6D6D;
		}
	}
	.team-social {
		padding-top: 16px;
		padding-bottom: 30px;
		a {
			margin-right: 20px;
			color: var(--vt-title-color);
			&:hover {
				color: #3533FF;
			}
		}
	}
	.team-desc {
		p {
			padding-bottom: 30px;
		}
	}
}