
:root {
    --vy-clr-pr-1: #3533FF;
    --vy-clr-pr-2: #C9F7CA;
    --vy-clr-pr-3: #A505D8;
    
    --vy-clr-sd-1: #D8FFFF;


    --vy-clr-black-1: #000000;
    --vy-clr-black-2: #101010;

    --vy-clr-white-1: #ffffff;
    --vy-clr-gray-1: #DFE1E5;
    --vy-clr-gray-2: #5D5D5D;
    --vy-clr-gray-3: #4F4F4F;

    --vy-clr-gd-1: linear-gradient(90deg, #3533FF, #A505D8)
  
}

/* Responsive Variables start */
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';
/* Responsive Variables end */

@import "vyscss_file/utils";
@import "vyscss_file/components";
@import "vyscss_file/title";
@import "vyscss_file/header";
@import "vyscss_file/hero";
@import "vyscss_file/focus";
@import "vyscss_file/services";
@import "vyscss_file/counter";
@import "vyscss_file/about";
@import "vyscss_file/video";
@import "vyscss_file/choose";
@import "vyscss_file/testimonial";
@import "vyscss_file/blog";
@import "vyscss_file/faq";
@import "vyscss_file/contact";
@import "vyscss_file/cta";
@import "vyscss_file/features";
@import "vyscss_file/property";
@import "vyscss_file/newsletter";
@import "vyscss_file/footer";

