/* 
    vy-blog-1-start
*/
.vy-blog-1 {
    &-item {
        &:is(.vt-blog-item) {
            &:is(.ver_2) {
                width: 100%;
                max-width: 100%;
                .item-tag a span {
                    background-color: var(--vy-clr-black-1);
                    color: var(--vy-clr-white-1);
                }

               .item-img {
                    margin-bottom: 21px;
                    height: 384px;

                    @media #{$xs} {
                        height: 250px;
                    }

                    @media #{$sm} {
                        height: 300px;
                    }
                }

                .blog_title {
                    @media #{$lg,$md,$xs} {
                        font-size: 20px;
                    }
                }
            }
        }

    }
}
/* 
    vy-blog-1-end
*/
/* 
    vy-blog-2-start
*/
.vy-blog-2-area {
    margin-left: 8px;
    margin-right: 8px;
}
.vy-blog-1-item {
    &:is(.vy-ver-2) {
        .item-img {
            img {
                filter: grayscale(1);
            }
        }

        &:is(.ver_2) {
            .item-tag a span {
                background: var(--vy-clr-white-1);
                color: var(--vy-clr-black-1);
            }
        }

    }
}
/* 
    vy-blog-2-end
*/