/* 
    vy-contact-1-start
*/
.vy-contact-1 {
    &-area {
        background-color: var(--vy-clr-pr-1);
    }

    &-scn-title {
        .vy-subtitle-1 {
            color: var(--vy-clr-white-1);

            &::after {
                background-color: var(--vy-clr-white-1);
            }

            &::before {
                background-color: var(--vy-clr-white-1);
            }
        }

        .vy-scn-title-1 {
            color: var(--vy-clr-white-1);
            margin-bottom: 25px;
        }
        .scn-disc {
            color: var(--vy-clr-white-1);
        }
    }

    &-patner {
        &:is(.vt-contact-partner) {
            padding-top: 0;
        }
        .disc {
            color: var(--vy-clr-white-1);
            font-size: 16px;
            opacity: 80%;
        }
    }

    &-form {
        &-content {
            &:is(.vt-contact-form) {
                background: var(--vy-clr-white-1);
            }

            .vt-contact-form-area .contact-select span {
                border-radius: 0;
                background: var(--vy-clr-sd-1);
                color: #101010;

                &:hover {
                    background: var(--vy-clr-pr-1);
                    color:  var(--vy-clr-sd-1);
                }

                &::before {
                    background: var(--vy-clr-pr-1);
                }
            }

            .vt-contact-form-area .contact-select input:checked ~ span {
                background: var(--vy-clr-pr-1);
                color:  var(--vy-clr-sd-1);
            }

            .vt-contact-form-area .contact-select {
                margin: 1px 1px;
            }
        }

        .vy-pr-btn-1 {
            font-family: var(--vt-heading);
            font-size: 15px;
            text-transform: capitalize;
            letter-spacing: .5px;
            color: #D8FFFF;
            background: var(--vy-clr-pr-1);
            line-height: 1;
            padding: 20px 32px;
            transition: all .4s var(--cube-1);
            position: relative;
            z-index: 1;
            margin-left: 12px;
        
        
            &::after {
                content: "";
                width: 12px;
                height: 12px;
                background: var(--vy-clr-pr-1);
                position: absolute;
                bottom: -12px;
                left: -12px;
                z-index: -1;
                transition: all .4s var(--cube-1);
                transition-delay: .2s;
            }
        
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--vy-clr-sd-1);
                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                transition: all .5s var(--cube-1);
                transform-origin: left bottom;
                transform: scale(0);
                transition-delay: 0s;
            }
        
            &:hover {
                color: var(--vy-clr-pr-1);
        
                &::after {
                    bottom: 0;
                    left: 0;
                    transition-delay: 0s;
                    background: var(--vy-clr-sd-1);
                }
        
                &::before {
                    transform: scale(1);
                    transition-delay: .1s;
                }
            }

        
        }
    }
}
/* 
    vy-contact-1-end
*/
/* 
    vy-contact-2-start
*/
.vy-contact-2 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 325px;

        &-img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: -1;
            opacity: 72%;
            filter: grayscale(1);
        }
    }

    &-content {
        max-width: 550px;
        width: 100%;

        .vy-scn-title-1 {
            margin-bottom: 16px;
        }
    }

    &-patner {
        &-title {
            margin-bottom: 20px;
        }

        &-slider {
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        transition: all .4s var(--cube-1);

                        &:hover {
                            opacity: 80%;
                            transform: scale(90%);
                        }
                    }
                }
            }
        }
    }

    &-right {
        padding: 105px 20px;

        .vy-contact-1-form-content {
            padding: 0;

            .vt-contact-form-area {
                .contact-select {
                    span {
                        background: #F5F5F3;
                        color: rgb(16 16 16 / 64%);

                        &::before {
                            background: rgb(16 16 16 / 100%);
                        }
        
                        &:hover {
                            background: rgb(16 16 16 / 100%);
                            color: #C9F7CA;
                        }
                    }

                    input:checked ~ span {
                        color: #C9F7CA;
                    }
                }

                .vy-pr-btn-2 {
                    perspective: 2000px;
                    transform-style: preserve-3d;
                    position: relative;
                    line-height: 1;
                    font-family: var(--vt-heading);
                    font-size: 15px;
                    text-transform: capitalize;
                    padding: 0;
                    background: transparent;
	
                    &:hover{
                        
                        &:after{
                            opacity: 1;
                            transform: translateY(0) rotateX(0);
                        }
                        
                        &:before{
                            opacity: 0;
                            transform: translateY(50%) rotateX(90deg);
                        }
                    }
	
                    &:after{
                        color: var(--vy-clr-pr-2);
                        background: var(--vy-clr-pr-1);
                        padding: 20px 32px;
                        letter-spacing: .5px;

                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        display: block;
                        transition: all .5s var(--cube-1);
                        position: absolute;
                        content: attr(data-back);
                        transform: translateY(-50%) rotateX(90deg);
                    }
	
                    &:before{
                        color: var(--vy-clr-pr-2);
                        background: var(--vy-clr-black-2);
                        padding: 20px 32px;
                        letter-spacing: .5px;

                        top: 0;
                        left: 0;
                        opacity: 1;
                        display: block;
                        transition: all .5s var(--cube-1);
                        position: relative;
                        content: attr(data-front);
                        transform: translateY(0) rotateX(0);
                    }
                }

            }
        }
    }
}


/* 
    vy-contact-2-end
*/

/* 
    vy-contact-3-start
*/
.vy-contact-3 {
    &-area {
        background-color: #292929;
        position: relative;
        z-index: 2;
        margin-top: -20px;
        border-radius: 0 0  16px 16px;
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        gap: 50px 85px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-scn-title {
        max-width: 488px;

        .vy-subtitle-1 {
            color: var(--vy-clr-white-1);
            border-color: rgb(255 255 255 / 20%);

            &::after {
                background: var(--vy-clr-white-1);
            }

            &::before {
                background: var(--vy-clr-white-1);
            }
        }

        .vy-scn-title-1 {
            color: var(--vy-clr-white-1);
            margin-bottom: 22px;
        }

        .scn-disc {
            color: var(--vy-clr-white-1);
            opacity: 70%;
        }
        
    }

    &:is(.vy-contact-2-patner-title) {
        opacity: 64%;
        color: var(--vy-clr-white-1);
    }

    &:is(.vt-contact-form) {
        border-radius: 0 0 16px 16px;
    }

    &:is(.vt-contact-form-area) {
        .contact-select {
            span {
                background-color: #F5F5F3;

                &::before {
                    background: var(--vy-clr-gd-1);
                }

                &:hover {
                    border-radius: 100px;
                    color: var(--vy-clr-white-1);
                    &::before {
                        opacity: 1;
                    }
                }
            }

            input:checked ~ span {
                border-radius: 100px;
                color: var(--vy-clr-white-1);
            }
        }
        button {
            color: var(--vy-clr-white-1);
        }
    }
    
}


/* 
    vy-contact-3-end
*/