/* 
    cta-1-start
*/
.vy-get-touch-1 {

    &-area {
        background-color: var(--vy-clr-pr-1);
        padding-bottom: 395px;
    }

    &-bg-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 580px;
        mix-blend-mode: luminosity;
        z-index: -1;
        opacity: 50%;
    }

    
    &-scn-title {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;

        .vy-subtitle-1 {
            border-color: var(--vy-clr-white-1);
            color: var(--vy-clr-white-1);

            &::after {
                background: var(--vy-clr-white-1);
            }

            &::before {
                background: var(--vy-clr-white-1);
            }
        }
        
        .vy-scn-title-1 {
            color: var(--vy-clr-white-1);
        }
    }

    &-content {
        .vt-get-in-touch-item {
            h3 {
                color: var(--vy-clr-white-1);
                opacity: 72%;
                padding-bottom: 9px;

                
            }
            p {
                color: var(--vy-clr-white-1);

                a {
                    display: inline-block;
                    transition: all .3s var(--cube-1);
                    &:hover {
                        opacity: 72%;
                        transform: translateX(-3px);
                    }
                }
            }
        }
    }
}


/* 
    cta-1-end
*/