/* 
    vy-faq-1-start
*/
.vy-faq-1 {
    &-scn-title {
        max-width: 625px;
        margin-left: auto;
        margin-right: auto;
    }

    &-acroding {
        .vt-faq-item-area {
            .accordion-button {

                @media #{$md,$xs} {
                    font-size: 20px;
                }

                &::after {
                    color: var(--vy-clr-pr-1);
                    background: var(--vy-clr-sd-1);
                    border: none;
                }
    
            }
            .accordion-button {
                &:not(.collapsed) {
                    &:after {
                        transform: rotate(0);
                        background: var(--vy-clr-pr-1);
                        border: none;
                    }
                }
            }

            .accordion-item {
                &:is(.faq_active) {
                    border-color: var(--vy-clr-pr-1);
                }
            }
        }
    }

    &-content {
        .disc {
            color: var(--vy-clr-gray-2);
            margin-bottom: 21px;
        }
    }
}




/* 
    vy-faq-1-end
*/


/* 
    vy-faq-2-start
*/
.vy-faq-2 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        padding-left: 20px;
        padding-right: 20px;

        .bg-img {
            position: absolute;
            width: 77%;
            right: 0;
            bottom: 0;
            z-index: -1;
            filter: grayscale(1);
        }
    }

    &-scn-title {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    &-right {
        padding: 120px 20px;
        padding-top: 95px;
    }

    &-content {
        max-width: 628px;
        width: 100%;

        .disc {
            font-size: 23px;
            line-height: 1.3;
            margin-bottom: 27px;

            @media #{$lg,$md,$xs} {
                font-size: 18px;
            }
        }
    }
    
}

.vy-faq-1-acroding {
    &:is(.has-faq-2) {
        max-width: 628px;
        width: 100%;

        .vt-faq-item-area {
            margin-top: 0;
            border-bottom: none;

            .accordion-item {
                border-top: none;
                border-bottom: 1px solid #DFE1E5;
                
            }

            .accordion-button {
                color: #6D6D6D;
                line-height: 1.3;

                &::after {
                    color: var(--vy-clr-black-2);
                    background: #F6F6F6;
                    transition: all .4s var(--cube-1);
                }

                &:not(.collapsed) {
                    color: var(--vy-clr-black-2);
                    &::after {
                        background: var(--vy-clr-black-2);
                        color: var(--vy-clr-pr-2);
                    }
                }
            }

            .accordion-body {
                .bi-faq-text {
                    font-family: var(--vt-body-font);
                    color: #454545;
                    line-height: 28px;
                    opacity: 80%;
                    max-width: 544px;
                }
            }
         }
    }
}

/* 
    vy-faq-2-end
*/

/* 
    vy-faq-3-start
*/
.vy-faq-3 {

    &-area {
        position: relative;
        z-index: 3;
        background-color: var(--vy-clr-white-1);
        border-radius: 0 0 16px 16px;
    }

    &:is(.vy-faq-1-acroding) {
        .accordion-item {
            .accordion-button {
                &::after {
                    color: var(--vy-clr-black-2);
                    background: transparent;
                    border: 1px solid #DFE1E5;
                    border-radius: 50%;
                }

                &:not(.collapsed) {
                    &::after {
                        background: var(--vy-clr-gd-1);
                        color: var(--vy-clr-white-1);
                        border-color: transparent;
                    }
                }
            }

            &:is(.faq_active) {
                border-color: var(--vy-clr-black-2);
            }
        }
    }
}


/* 
    vy-faq-3-end
*/