/* 
    vy-footer-1-start
*/
.vy-footer-1 {
    &-area {

        .vt-footer-widget-area {
            justify-content: space-between;

            @media #{$xl,$lg} {
                gap: 30px 50px;
            }
        }
        
        .vt-footer-widget {
            .social-widget {
                a {
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
    
                }
            }
    
            &:is(.white_color) {
                .cta-widget {
                    .cta-info {
                        .info-icon {
                            background-color: var(--vy-clr-pr-1);
                        }
    
                        .info-text {
                            a {
                                &:hover {
                                    opacity: 72%;
                                    transform: translateX(-3px);
                                }
                            }
                        }
                    }
                }
    
                .social-widget {
                    a {
                        &:hover {
                            color: var(--vy-clr-pr-1);
                            transform: scale(150%);
                        }
                    }
                }
    
                .cta-widget .cta-text a {
                    i {
                        color: var(--vy-clr-pr-1);
                    }

                    svg {
                        transition: all .3s var(--cube-1);
                    }
    
                    &:hover {
                        color: var(--vy-clr-pr-1);

                        svg {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    
    
        .vt-footer-content  {
            .vt-scrollup {
                right: 2%;
    
                &:is(.white_color) {
                    a {
                        transition: all .3s var(--cube-1);
    
                        &:hover {
                            color: var(--vy-clr-pr-1);
                            transform: translateY(-10px) scale(1.3);
                        }
                    }
                }
            }
        }
    
        .vt-footer-copyright.white_color .vt-copyright-text a {
            &:hover {
                color: var(--vy-clr-pr-1);
            }
        }


    
    }

    &-bg-shape {
        width: 16%;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        opacity: 20%;
    }


}


.vt-footer-widget {
    .menu-widget {

        &:is(.vy-footer-menu-1) {
            li {
                overflow: hidden;
                a {
                    padding-left: 15px;
                    transform: translateX(-15px);

                    &::after {
                        content: "\f054";
                        position: absolute;
                        font-weight: 700;
                        top: 3px;
                        left: 0;
                        color: var(--vy-clr-white-1);
                        font-family: "Font Awesome 6 free";
                        font-size: 12px;
                        transition: all .4s var(--cube-1);
                        opacity: 0;
                    }

                    &::before {
                        right: unset;
                        display: none;
                    }

                    &:hover {
                        transform: translateX(0);

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }
}

/* 
    vy-footer-1-end
*/

/* 
    vy-footer-2-start
*/
.vy-footer-1 {
    &-area {

        &:is(.has-footer-2) {
            background: #292929;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}
/* 
    vy-footer-2-end
*/
/* 
    vy-footer-3-start
*/

.vy-footer-1-area {
    &:is(.has-ver-3) {
        margin-top: -20px;
        margin-left: 0;
        margin-right: 0;
    }
}

.vt-footer-widget-area {
    &:is(.vy-ver-3) {
        .vt-footer-widget {
            .cta-widget {
                .cta-info {
                    .info-icon {
                        background-color: rgb(255 255 255 / 16%);
                    }

                }

                .cta-text a {
                    svg {
                        transition: all .3s var(--cube-1);
                        *{
                            fill: var(--vy-clr-white-1);
                        }
                    }

                    &:hover {
                        color: var(--vy-clr-white-1);

                        svg {
                            transform: translate( 3px , -3px);
                        }
                    }
                }
            }

            .social-widget a:hover {
                color: var(--vy-clr-pr-3);
            }
        }
    }

}

.vt-footer-copyright {
    &:is(.vy-ver-3) {
        &:is(.white_color) {
            .vt-copyright-text {
                a {
                    &:hover {
                        color: var(--vy-clr-pr-3);
                    }
                }
            }
        }
    }
}



.vy-footer-1-area .vt-footer-content {
    .vt-scrollup:is(.has-ver-3) a:hover {
        color: var(--vy-clr-pr-3);
    }
}
/* 
    vy-footer-3-end
*/