/* 
    vy-header-1-start
*/
.vy-header-1 {
    &-top {
     
        border-bottom: 1px solid var(--vy-clr-gray-1);

        &-row {
            gap: 16px;

            .vy-join-btn-1 {
                @media #{$lg,$md,$xs} {
                    display: none;
                }
            }

            .vy-phone-btn {
                @media #{$xs} {
                    display: none;
                }
            }

            .vy-social-1  {
                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-flex;
                }
            }
        }
    }

    &-main {
        border-bottom: 1px solid var(--vy-clr-gray-1);

        @media #{$md,$xs} {
            padding: 15px 0;
        }

        &-row {
            gap: 36px;
            flex-wrap: wrap;

            @media #{$lg} {
              gap: 30px;
            }
        }

        &-action-link {
            gap: 24px;

            .vy-pr-btn-1 {
                padding: 14px 21px;
                margin-left: 0;

                &::after {
                  width: 8px;
                  height: 8px;
                  bottom: -8px;
                  left: -8px;
                }


                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-block;
                }

                &:hover {
                  &::after {
                    bottom: 0;
                    left: 0;
                  }
                }
            }
        }
    }
}

.vy-main-navigation {
    .navbar-nav {
      display: inherit;
      li {
        display: inline-block;
        position: relative;
  
        &:not(:last-child) {
            margin-right: 27px;
  
            @media #{$xl,$lg} {
                margin-right: 15px;
            }
        }
        
        &:is(.dropdown) {
          > a {
            padding-right: 18px;
            &::before {
              content: "\f078";
              font-family: "Font Awesome 5 Pro";
              font-weight: 700;
              position: absolute;
              font-size: 12px;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              transition: 400ms ease-in-out;
              color: var(--vy-clr-pr-1);
            }
          }

        }
  
        a {
          position: relative;
          z-index: 1;
          font-family: var(--vt-heading);
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          color: var(--vy-clr-black-1);
          padding: 34px 0;
          display: inline-block;
          text-transform: capitalize;
          line-height: 1;
          transition: all .2s ease-in-out;
  
        }

  
        .dropdown-menu {
          left: 0;
          top: 100%;
          z-index: 100;
          margin: 0px;
          padding: 20px 0px;
          height: auto;
          min-width: 250px;
          display: block;
          border: none;
          border-top: 1px solid var(--vy-clr-pr-1);
          box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
          border-radius: 0;
          position: absolute;
          background: rgb(255 255 255 / 80%);
          backdrop-filter: blur(3px);
          -webkit-backdrop-filter: blur(3px);
          border-radius: 2px;
          text-align: left;
          opacity: 0;
          visibility: hidden;
          transform: translateX(15px) translateZ(0);
          transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

          
          
          @media #{$lg} {
            min-width: 200px;
          }

          li {
            display: block;
            margin: 0;
            position: relative;
  
            a {
              width: 100%;
              display: block;
              padding: 10px 20px;
              font-size: 14px;

              &:is(.is-active) {
                &::before {
                    display: none;
                }
              }
            }
  
            &:is(.dropdown) {
              > a {
                &::before {
                  right: 20px;
                  top: 49%;
                }
              }
            }
  
            .dropdown-menu {
              top: 0;
              left: 100%;
              min-width: 250px;
              opacity: 0;
              visibility: hidden;
              transform: translateX(15px) translateZ(0);
              transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  
              @media #{$xxl,$xl,$lg} {
                min-width: 200px;
              }
            }
  
            &:hover {
              > a {
                transform: translateX(5px);
                
              }
              .dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: translateX(0px) translateZ(0);
              }
            }
          }
        }

        
        &:hover {
            > a {
              color: var(--vy-clr-pr-1);
              transform: translateX(-5px);
            }
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: translateX(0px) translateZ(0);
            }
        }
      }
    }
}
  

/* 
    vy-header-1-end
*/

/* 
    vy-header-2-start
*/
.vy-header-2 {
  &-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  &-top {
    background: var(--vy-clr-white-1);
    border-radius: 16px;
    padding: 0  24px;
    gap: 24px;
    justify-content: space-between;

    @media #{$xs} {
      padding: 10px  24px;
      justify-content: center;
    }

    @media #{$sm} {
      padding: 0  24px;
      justify-content: center;
    }

    .vy-phone-btn {
      @media #{$xs} {
        display: none;
      }

      .icon {
        background: transparent;
        width: auto;
        height: auto;
        
        svg * {
          stroke: var(--vy-clr-black-2);
        }
      }

      b {
        color: var(--vy-clr-black-2);
        transition: all .3s var(--cube-1);
      }

      &:hover {
        b {
          color: var(--vy-clr-pr-1);
        }
      }
    }

    .vy-search-btn-1 {
      @media #{$xs} {
        display: none;
      }
      @media #{$sm} {
        display: inline-block;
      }

      i {
        color: var(--vy-clr-black-2);
      }

      &:hover {
        i {
          color: var(--vy-clr-pr-1);
        }
      }
    }
    
    .vy-join-btn-1 {
      @media #{$md,$xs} {
        display: none;
      }

      .icon {
        svg * {
          fill: var(--vy-clr-black-2);
        }
      }

      &:hover {
        .icon {
          svg * {
            fill: var(--vy-clr-pr-1);
          }
        }
      }
    }

    .vy-social-1 {
      color: var(--vy-clr-black-2);



      a {
        &:hover {
          color: var(--vy-clr-pr-1);
        }
      }
    }
  }

  &-main {
    background: var(--vy-clr-white-1);
    padding: 0  24px;
    border-radius: 16px;
    gap: 32px;

    @media #{$md,$xs} {
      padding: 15px 24px;
    }

    &-action-link {
      gap: 24px;

      .vy-offcanvas-btn-1 span {
        background: var(--vy-clr-black-2);
      }

      .vy-pr-btn-2 {
        @media #{$xs} {
          display: none;
        }
        @media #{$sm} {
          display: inline-block;
        }

        &::before {
          padding: 14px 20px;
        }
        &::after {
          padding: 14px 20px;
        }
      }

    }
  }
}

.vy-main-navigation {
  &:is(.has-home-5) {
    .navbar-nav {
      li {
        &:is(.dropdown) {
          > a {
            padding-right: 18px;

            &::before {
              color: var(--vy-clr-black-2);
            }
          }
        }

        a {
          padding: 37px 0;
        }
      }
    }
  }
}
/* 
    vy-header-2-end
*/
/* 
    vy-header-3-start
*/
.vy-home {
  background: #000;
}

.vy-header-3 {
  &-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &-container {
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-top {
    gap: 10px 48px;
    padding: 6px 0;

    .vy-phone-btn {
      color: rgb(255 255 255 / 72%);

      @media #{$xs} {
        display: none;
      }

      b {
        color: rgb(255 255 255 / 100%);
        font-weight: 500;
        transition: .3s var(--cube-1);
      }
      .icon {
        background: transparent;
        svg * {
          stroke: var(--vy-clr-white-1);
        }
      }

      &:hover {
        b {
          color: var(--vy-clr-pr-3);
        }

        .icon {
          svg * {
            stroke: var(--vy-clr-pr-3);
          }
        }
      }
    }

    .vy-search-btn-1 {
      color: rgb(255 255 255 / 40%);
      padding: 0;
      padding-right: 0;
      border-right: none;
      border-left: none;

      i {
        color: var(--vy-clr-white-1);
      }

      &:hover {
        color: var(--vy-clr-pr-3);
        i {
          color: var(--vy-clr-pr-3);
        }
      }
    }

    .vy-join-btn-1 {
      color: rgb(255 255 255 / 72%);
      border-right: none;
      padding: 0;
      padding-right: 0;

      @media #{$md,$xs} {
        display: none;
      }

      b {
        font-weight: 400;
        color: rgb(255 255 255 / 100%);
      }

      svg *{
        fill: rgb(255 255 255 / 100%);
      }

      &:hover {
        b {
          color: var(--vy-clr-pr-3);
        }

        svg * {
          fill: var(--vy-clr-pr-3);
        }
      }
    }

    .vy-social-1 {
      color: var(--vy-clr-white-1);

      a { 
        &:hover {
          color: var(--vy-clr-pr-3);
        }
      }
    }


  }

  &-main {
    gap: 20px;

    &-right {
      display: flex;
      align-items: center;
      background: var(--vy-clr-white-1);
      padding-right: 8px;
      padding-left: 32px;
      border-radius: 100px;
      gap: 10px 32px;

      @media #{$md,$xs} {
        padding: 10px 32px;
      }
    }

    &-action-link {
      gap: 10px 32px;

      .vy-pr-btn-3 {
        letter-spacing: .5px;
        font-size: 15px;
        padding: 9px 18px;

        @media #{$xs} {
          display: none;
        }

        @media #{$sm} {
          display: inline-block;
        }
      }

      .vy-offcanvas-btn-1  {
        @media #{$over,$xxxl,$xxl,$xl,$lg} {
          display: none;
        }
      }
    }
  }



}

.vy-main-navigation {
  &:is(.has-home-6) {
    .navbar-nav {
      li {
        &:is(.dropdown) {
          > a {
            padding-right: 18px;

            &::before {
              color: var(--vy-clr-black-2);
              background: var(--vy-clr-white-1);
              
            }
          }
        }

        a {
          padding: 22px 0;
        }

        .dropdown-menu {
          border-color: var(--vy-clr-pr-3);
          background: var(--vy-clr-white-1);
          backdrop-filter: unset;
          -webkit-backdrop-filter: unset;
        }

        &:hover {
          > a {
            color: var(--vy-clr-pr-3);

            &::before {
              color: var(--vy-clr-pr-3);
            }
          }
        }
      }
    }
  }
}

/* 
    vy-header-3-end
*/



/* 
  vy-sticky-header-start
*/
.txa_sticky_header {



  &:is(.vy-header-1-area) {
    top: 20px;
    width: calc(100% - 40px);
    left: 20px;

    @media #{$xs} {
      width: calc(100% - 20px);
      left: 10px;
    }
    

    @media #{$sm} {
      width: calc(100% - 40px);
      left: 20px;
    }
    

    &:is(.txa_sticky) {

      &:is(.txa_sticky_show) {
        top: -39px;
        background-color: var(--vy-clr-white-1);
      }
    }
  }

  &:is(.vy-header-2-area) {
    top: 8px;

    &:is(.txa_sticky) {

      &:is(.txa_sticky_show) {
        top: -39px;
        background-color: transparent;


        .vy-header-2-main  {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
        }
      }
    }
  }

  &:is(.vy-header-3-area) {

    &:is(.txa_sticky) {
      &:is(.txa_sticky_show) {
        background-color: #000;

        @media #{$md} {
          top: -40px;
        }

        @media #{$xs} {
          top: -30px;
        }
      }
    }
  }
}
  //  
/* 
  vy-sticky-header-end
*/