/* 
    h4-hero-start
*/

.vy-multi-scn-1 {
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 300px;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.vy-hero-1 {

    &-area {
        padding-top: 204px;
    }

    &-row {
        display: flex;
        gap: 85px;

        @media #{$lg} {
            gap: 40px; 
        }

        @media #{$md,$xs} {
            gap: 40px; 
            flex-wrap: wrap;
        }
    }

    &-content {
        max-width: 520px;
        flex: 0 0 auto;
        width: 100%;

        .hero-subtitle {
            margin-bottom: 15px;
        }

        .hero-title {
            margin-bottom: 25px;

            @media #{$lg} {
                font-size: 55px;
            }

            @media #{$md} {
                font-size: 50px;
            }

            @media #{$xs} {
                font-size: 35px;
            }

            @media #{$sm} {
                font-size: 45px;
            }
        }

        .hero-disc {
            margin-bottom: 33px;
        }
    }

    &-img {
        mask-image: url('../imgs/hero/h4-mask-img-1.png');
        -webkit-mask-image: url('../imgs/hero/h4-mask-img-1.png') ;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        width: 502px;
        height: 800px;
        position: relative;
        z-index: 1;

        @media #{$lg} {
            width: 300px;
            height: 600px;
        }

        @media #{$md,$xs} {
            max-width: 500px;
            width: 100%;
            height: 600px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--vy-clr-pr-1);
            mix-blend-mode: color;
        }
    }

    &-right {
        width: 100%;
        
        &-btn {
            position: absolute;
            top: 0;
            right: 0;

            @media #{$xs} {
                display: none;
            }
        }

        &-btn-2 {
            position: absolute;
            left: 380px;
            top: 170px;
            z-index: 2;

            @media #{$lg} {
                left: 240px;
            }

            @media #{$md} {
                left: 400px;
            }

            
            @media #{$xs} {
                display: none;
            }
        }
    }

    &-slider {

        .swiper-container {

            .swiper-slide {
                .slide-down-ins {
                    opacity: 0;
                    transform: translateY(-100%);
                    transition: all .5s var(--cube-1);
                    transition-delay: 0s;
                }

                .vy-hero-1-right {
                    transform: translateX(-100%);
                    opacity: 0;
                    transition: all 1s var(--cube-1);
                    transition-delay: 0s;
                }

                .vy-hero-1-right-btn-2 {
                    transform: translate(-160%, -200%);
                    transition: all 2s var(--cube-1);
                    transition-delay: 0s;

                }

                .vy-roteted-btn-1 {
                    transform: rotate(0deg);
                    transition: all 2s var(--cube-1);
                    transition-delay: 0s;
                }
            }


            .swiper-slide {
                &:is(.swiper-slide-active) {

                    .slide-down-ins {
                        opacity: 1;
                        transform: translateY(0);

                        &:nth-child(1) {
                            transition-delay: 1.6s;
                        }

                        &:nth-child(2) {
                            transition-delay: 1.4s;
                        }

                        &:nth-child(3) {
                            transition-delay: 1.2s;
                        }

                        &:nth-child(4) {
                            transition-delay: 1s;
                        }

                    }

                    .vy-hero-1-right {
                        transform: translateX(0%);
                        opacity: 1;
                        transition-delay: .5s;
                    }

                    .vy-hero-1-right-btn-2 {
                        transform: translate( 0%, 0%);
                        transition-delay: 1s;
                    }

                    .vy-roteted-btn-1 {
                        transform: rotate(360deg);
                        transition-delay: 1s;
                    }
                }
            }
        }

        &-pagination {
            position: absolute;
            right: 32px;
            top: 36%;
            transform: translateY(-50%);
            z-index: 1;



            @media #{$sm} {
                display: inline-block;
            }

            .vy-h1-pagination {
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-items: end;
                justify-content: center;

                span {
                    width: 16px;
                    height: 2px;
                    border-radius: 0px;
                    margin: 0;
                    padding: 0;
                    opacity: 20%;
                    background: var(--vy-clr-pr-1);
                    transition: all 1s var(--cube-1);

                    &:is(.swiper-pagination-bullet-active) {
                        opacity: 100%;
                        width: 32px;
                    }
                }
            }
        }
    }


}

@keyframes h1-plybtn0 {

    from {
     
    }
    to {
        transform: translate( 0%, 0%);
    }
}


/* 
    h4-hero-end
*/

/* 
    h5-hero-start
*/
.vy-hero-2 {
    &-area {
        margin-top: 152px;

        @media #{$md,} {
            margin-top: 135px;
        }

        @media #{$xs} {
            margin-top: 139px;
        }

        @media #{$sm} {
            margin-top: 135px;
        }
    }
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        background: var(--vy-clr-white-1);
        padding: 50px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .bg-img-1 {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: -1;
            opacity: 12%;
            filter: grayscale(1);
        }
    }

    &-content {
 

        .hero-title {
            margin-bottom: 25px;
        }
        
        .hero-disc {
            margin-bottom: 33px;
        }
    }

    &-img {
        height: 800px;
        filter: grayscale(1);

        @media #{$xl} {
            height: 700px;
        }

        @media #{$lg,$md} {
            height: 600px;
        }

        @media #{$xs} {
            height: 300px;
        }

        @media #{$sm} {
            height: 400px;
        }

        &-single {
            height: 100%;
            border-radius: 16px;
            background: var(--vy-clr-white-1);
        }

        .swiper-container {
            height: 100%;
        }


    }

    &-slider {
        max-width: 520px;
        width: 100%;

        @media #{$xs} {
            max-width: 100%;
        }

        @media #{$sm} {
            max-width: 520px;
        }

        .swiper-container {
            .swiper-slide {
                .slide-down-ins {
                    transform: translateY(-100%);
                    opacity: 0;
                    transition: all .5s var(--cube-1);
                    transition-delay: 0s;
                }

                &:is(.swiper-slide-active) {
                    .slide-down-ins {
                        transform: translateY(0%);
                        opacity: 1;
                        transition-delay: .7s;

                        &:nth-child(1) {
                            transition-delay: 1s;
                        }

                        &:nth-child(2) {
                            transition-delay: .9s;
                        }

                        &:nth-child(3) {
                            transition-delay: .8s;
                        }

                        &:nth-child(4) {
                            transition-delay: .7s;
                        }
                    }
                }
            }
        }
    }


    &-pagination {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: var(--vy-clr-white-1);
        border-radius: 16px 0 0 16px;
        width: 44px;
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .vy-h2-pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            span {
                opacity: 1;
                margin: 0 !important;
                background: #D1D1D1;
                width: 7px;
                height: 7px;

                position: relative;
                z-index: 1;
                transition: all .5s var(--cube-1);

                &::after {
                    content: "";
                    width: 110%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    opacity: 0;
                    transition: all .5s var(--cube-1);
                }

                &::before {
                    content: "";
                    width: 2px;
                    height: 110%;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    opacity: 0;
                    transition: all .5s var(--cube-1);
                }

                &:is(.swiper-pagination-bullet-active) {
                    width: 10px;
                    height: 10px;
                    border-radius: 0;
                    background: #101010;

                    &::after {
                        opacity: 1;
                    }

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* 
    h5-hero-end
*/

/* 
    h6-hero-start
*/
.vy-hero-3 {
    &-area {
        background-color: var(--vy-clr-black-2);
        border-radius: 0 0 16px 16px;
    }
    &-content {
        width: 100%;
        border-right: 1px solid rgb(255 255 255 / 32%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 170px 30px;
        padding-top: 325px;
        background: transparent;
        transition: all .4s var(--cube-1);
        cursor: pointer;

        @media #{$xs} {
            padding-top: 210px;
        }

        .content-center {
            max-width: 312px;
            width: 100%;
        }

        .hero-title {
            font-size: 45px;
            line-height: 1.06;
            color: var(--vy-clr-white-1);
            margin-bottom: 18px;
            transition: all .2s var(--cube-1);

            @media #{$xl} {
                font-size: 40px;
            }

            @media #{$lg} {
                font-size: 35px;
            }

            @media #{$md} {
                font-size: 30px;
            }

            @media #{$xs} {
                font-size: 26px;
            }

            @media #{$sm} {
                font-size: 28px;
            }

            &:hover {
                color: var(--vy-clr-pr-3);
                transform: translateY(3px);
            }
        }
        
        .content-center {
            width: 100%;
        }
        
        .hero-icon {
            display: inline-block;
            margin-bottom: 25px;
            transform: scale(0);
            transform-origin: center center;
        }
        
        .hero-disc {
            font-size: 18px;
            line-height: 28px;
            color: var(--vy-clr-white-1);
            opacity: 0%;
            margin-bottom: 21px;
            transform: translateY(100%);
            transition-delay: 0s;
            transition: all .7s var(--cube-1);
        }

        .btn-wrap {
            opacity: 0%;
            transform: translateY(100%); 
            transition-delay: 0s;
            transition: all .7s var(--cube-1);
        }

        .hero-btn {
            font-family: var(--vt-body-font);
            font-size: 16px;
            text-transform: capitalize;
            color: var(--vy-clr-white-1);
            font-weight: 400;
            letter-spacing: 1px;
            border-bottom: 1px solid var(--vy-clr-white-1);
            line-height: 1.2;
            transition: all .3s var(--cube-1);
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 0%;
                height: 1px;
                background: var(--vy-clr-pr-3);
                position: absolute;
                bottom: -1px;
                left: 0;
                transition: all .4s var(--cube-1);
            }

            &:hover {
                color: var(--vy-clr-pr-3);
                transform: translateY(3px);
                &::after {
                    width: 100%;
                }
            }
        }
        

        &:hover {
            background: rgb(0 0 0 / 20%);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);


        }
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &-single {
            filter: grayscale(1);
            position: relative;
            z-index: 1;
            height: 100%;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 20%;
            }

            img {
                filter: blur(10px);
                transition-delay: 0s;
                -webkit-transition: all 1000ms ease;
                transition: all 1000ms ease;
                -webkit-transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1.6) scaleY(1.6);
                        transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1.6) scaleY(1.6);
            }
        }

        .swiper-container {
            height: 100%;
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .vy-hero-3-img-single img {
                            filter: blur(0px);
                            transition-delay: .5s;
                            -webkit-transform: perspective(600px) rotateX(0.06deg) rotateY(0deg) scaleX(1) scaleY(1);
                            transform: perspective(600px) rotateX(0.06deg) rotateY(0deg) scaleX(1) scaleY(1);
                        }
                    }
                }
            }
        }
    }

    &-content-slider {
        margin-right: -300px;

        @media #{$xs} {
            margin-right: 0px;
        }

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-thumb-active) {
                        .vy-hero-3-content {
                            transition-delay: .5s;
                            background: rgb(0 0 0 / 20%);
                            backdrop-filter: blur(20px);
                            -webkit-backdrop-filter: blur(20px);

                            .hero-icon {
                                animation: bounceIn 1s forwards;
                                animation-delay: .5s;
                            }

                            .btn-wrap {
                                transform: translateY(0);
                                transition-delay: .5s;
                                opacity: 1;
                            }

                            .hero-disc {
                                transform: translateY(0);
                                transition-delay: .5s;
                                opacity: 1;
                            }
                        }


                    }
                }
            }
        }
    }
    

    &-blog {
        background: rgb(255 255 255 / 72%);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 24px;
        gap: 12px;
        position: absolute;
        bottom: 12px;
        right: 12px;
        z-index: 2;
        overflow: hidden;

        @media #{$md,$xs} {
            display: none;
        }
  

        &-single {

            .item-meta {
                font-size: 14px;
                color: var(--vy-clr-black-2);
                line-height: 1;
                text-transform: capitalize;
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                margin-bottom: 13px;
            
                a {
                    background: #fff;
                    border-radius: 8px;
                    padding: 6px 9px;
                }
                
            }
    
            .item-title {
                font-size: 20px;
                color: var(--vy-clr-black-2);
                line-height: 28px;
                transition: all .3s var(--cube-1);

                &:hover {
                    color: var(--vy-clr-pr-3);
                    transform: translateY(2px);
                }
            }
        }
        
        &-btn {
            display: flex;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid #fff;
            background: transparent;
            flex: 0 0 auto;

            .vy-slider-btn {
                background: transparent;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                color: var(--vy-clr-black-2);
                &::after {
                    display: none;
                }

                i {
                    font-weight: 700;

                }

                &:hover {
                    background: #fff;
                }
            }
        }
        
        .swiper-container {
            max-width: 280px;
            width: 100%;
            flex: 0 0 auto;
        }
    
    }

    &-scroll-btn {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}



.vy-scroll-down-2 {
    font-family: var(--vt-body-font);
    font-size: 10px;
    text-transform: uppercase;
    color: var(--vy-clr-white-1);
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: all .3s var(--cube-1);
    

    .icon {
        width: 24px;
        height: 36px;
        border-radius: 16px;
        border: 2.5px solid #fff;
        position: relative;
        z-index: 1;
        transition: all .3s var(--cube-1);

        &::after {
            content: "";
            width: 4px;
            height: 8px;
            background: var(--vy-clr-white-1);
            border-radius: 16px;
            position: absolute;
            top: 8px;
            left: 8px;
            animation: vy-scroll-2 2s linear infinite;
        }
    }

    &:hover {
        color: var(--vy-clr-white-1);

        .icon {
            transform: translateY(10px);
            border-color: var(--vy-clr-pr-3);
        }
    }
}

@keyframes vy-scroll-2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0px);
    }
}


/* 
    h6-hero-end
*/