/* 
    services-1-start
*/
.vy-services-1 {

    &-scn-title {
        display: flex;
        align-items: end;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1008px;
        margin-left: auto;
        margin-right: auto;
    
        .scn-disc {
            max-width: 488px;
        }
    
        .left {
            max-width: 420px;
            width: 100%;
        }
        
    }

    &-item {
        height: 560px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 400px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
        }

        &::before {
            content: "";
            width: 100%;
            height: 0%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(53,51,255,1) 0%, rgba(0,212,255,0) 100%);
            z-index: 1;
            transition: all .5s var(--cube-1);
        }

        img {
            filter: grayscale(1);
        }
        

        .content {
            padding: 52px 40px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            transform: translateY(50px);
            transition: all .5s var(--cube-1);

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                padding: 40px 20px;
                
            }
        }

        .item-title {
            font-size: 32px;
            line-height: 1.18;
            color: var(--vy-clr-white-1);
            margin-bottom: 18px;
            transition: all .3s var(--cube-1);
            max-width: 240px;
            width: 100%;

            @media #{$xxxl,$xxl,$xl,$lg} {
                font-size: 26px;
            }

            @media #{$md} {
                font-size: 24px;
            }

            @media #{$xs} {
                font-size: 24px;
            }

            &:hover {
                color: var(--vy-clr-sd-1);
                transform: translateX(5px);
            }
        }

        .item-disc {
            font-size: 18px;
            line-height: 28px;
            opacity: 80%;
            color: var(--vy-clr-white-1);
            margin-bottom: 21px;
        }

        .item-btn {
            font-size: 16px;
            color: var(--vy-clr-white-1);
            border-bottom: 1px solid #fff;
            line-height: 1.2;
            transition: all .5s var(--cube-1);
            transform: translateY(20px);
            opacity: 0;

            &:hover {
                color: var(--vy-clr-sd-1);
                border-color: var(--vy-clr-sd-1);
            }
        }

        &:hover {
            &::before {
                height: 100%;
            }
            .content {
                transform: translateY(0);
            }
            .item-btn {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &-slider {
        margin-left: -55px;
        margin-right: -55px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        .swiper-container {

            &:hover {
                .vy-cursor {
                    opacity: 1;
                }
            }
 
        }
    }
}


/* 
    services-1-end
*/

/* 
    services-2-start
*/
.vy-services-2 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item {
        padding: 56px 20px;
        padding-bottom: 45px;

        .content {
            max-width: 222px;
        }

        .icon {
            margin-bottom: 87px;
        }
        
        .item-title {
            font-size: 23px;
            line-height: 1.23;
            margin-bottom: 16px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }

            a {
                width: 100%;
                display: inline;
                background-position-y: -1px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                padding-bottom: 4px;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: all .3s var(--cube-1);
                transition: all .3s var(--cube-1);
                &:hover {
                    color: inherit;
                    background-size: 100% 100%;
                    transform: translateX(3px);
                }
            }
        }

        &:hover {
            .icon {
                animation: bounceIn .7s ;
            }
        }
    }
}


/* 
    services-2-end
*/

/* 
    services-3-start
*/
.vy-services-3 {
    &-area {
        background: #292929;
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 115px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-scn-title {
        margin-top: 190px;

        .vy-scn-title-1 {
            color: var(--vy-clr-white-1);
            margin-bottom: 22px;
        }

        .vy-subtitle-1 {
            color: var(--vy-clr-white-1);

            &::after {
                background: var(--vy-clr-white-1);
            }

            &::before {
                background: var(--vy-clr-white-1);
            }
        }

        .disc {
            color: var(--vy-clr-white-1);
            opacity: 72%;
            margin-bottom: 32px;
        }
    }

    &-img {
        height: 918px;
        filter: grayscale(1);
        margin-right: -350px;

        @media #{$xxxl} {
            margin-right: -190px;
        }

        @media #{$xxl} {
            margin-right: -100px;
        }

        @media #{$xl} {
            margin-right: -50px;
        }

        @media #{$lg} {
            margin-right: 0px;
        }

        @media #{$md} {
            margin-right: 0px;
            height: 600px;
        }

        @media #{$xs} {
            margin-right: 0px;
            height: 400px;
        }

        @media #{$sm} {
            margin-right: 0px;
            height: 500px;
        }
    }

    &-slider-max-width {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    &-slider {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 1232px;
        width: 100%;
        margin-left: auto;
        margin-top: -204px;

        @media #{$xxxl} {
            margin-top: -160px;
        }

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-top: -160px;
            max-width: 922px;
        }


        &-item {
            .vy-choose-1-features-item {
                display: block;
                gap: 0;
                background: var(--vy-clr-white-1);
                padding: 43px 32px;
                padding-top: 64px;
                border-radius: 0 0 16px 16px;
    
                .icon {
                    margin-bottom: 42px;
                }
                .title {
                    margin-bottom: 17px;
                    transition: all .3s var(--cube-1);
    
                    &:hover {
                        color: var(--vy-clr-pr-3);
                        transform: translateY(3px);
                    }
                }
            }
        }

        .vy-slider-btn {
            border-radius: 50%;
            cursor: pointer;

            &::after {
                border-radius: 50%;
            }
            i {
                font-weight: 700;
            }
        }

        .vy-s3-left {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            z-index: 2;

            @media #{$md,$xs} {
                left: 0px;
            }
        }

        .vy-s3-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            z-index: 2;
        }
    }
    
}

/* 
    services-3-end
*/