/* 
    testimonial-1-start
*/


.vy-testimonial-1 {

    &-scn-title {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        background: var(--vy-clr-sd-1);
        padding: 45px 48px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 45px 25px;
        }

        .vy-star {
            margin-bottom: 20px;
        }

        .comment {
            font-size: 18px;
            line-height: 28px;
            color: #4F4F4F;
            margin-bottom: 26px;
        }

        .author {
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .author-img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            position: relative;
        }
        
        .author-name {
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 3px;
        }
        
        .author-bio {
            font-size: 15px;
            line-height: 1;
        }
    }

    &-slider {
        margin-left: -40px;
        margin-right: -40px;

        @media #{$lg,$md} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$xs} {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &-pagi {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            span {
                border: none;
                outline: none;
                margin: 0 !important;
                padding: 0;
                width: 6px;
                height: 6px;
                background: #D1D1D1;
                transition: all .5s var(--cube-1);
                opacity: 1;
                border: 2px solid transparent;

                &:is(.swiper-pagination-bullet-active) {
                    width: 12px;
                    height: 12px;  
                    background: transparent;
                    border-color: var(--vy-clr-pr-1);
                }
            }
        }

        .vy-t1-slider-btn-left {
            position: absolute;
            top: 42%;
            transform: translateY(-50%);
            left: 4%;
            z-index: 1;

            @media #{$md,$xs} {
                left: 1%;
            }
        }

        .vy-t1-slider-btn-right {
            position: absolute;
            top: 42%;
            transform: translateY(-50%);
            right: 4%;
            z-index: 1;

            @media #{$md,$xs} {
                right: 1%;
            }
        }
    }
}


.vy-star {
    font-size: 14px;
    gap: 8px;
    color: var(--vy-clr-pr-1);
}




/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.vy-testimonial-2 {
    &-area {
        margin-left: 8px;
        margin-right: 8px;
    }

    &-pattern {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 435px;
    }

    &-line {
        width: 100%;
        height: 1px;
        background: #DFE1E5;
    }

    &-container {
        max-width: 840px;
        padding: 0 20px;
        width: 100%;
    }

    &-scn-title {
        max-width: 500px;
    }

    &-item {
        .vy-star {
            font-size: 18px;
            margin-bottom: 30px;

            i {
                transition: 1s;
                transition-delay: 0;
                opacity: 0;

            }
        }

        .item-comment {
            font-size: 31px;
            line-height: 1.31;
            margin-bottom: 56px;

            @media #{$lg} {
                font-size: 28px;
            }

            @media #{$md} {
                font-size: 26px;
            }

            @media #{$xs} {
                font-size: 22px;
            }

            @media #{$sm} {
                font-size: 24px;
            }
        }

        .item-author {
            gap: 20px;

            .item-img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                overflow: hidden;
                flex: 0 0 auto;
            }

            .author-name {
                font-size: 20px;
                line-height: 30px;
            }
            
            .author-bio {
                font-size: 15px;
                line-height: 28px;
                opacity: 80%;
            }
        }

        .slideinup {
            transform: translateY(100%);
            opacity: 0;
            transition: all .5s var(--cube-1);
            transition-delay: 0s;
        }
    }

    &-slider {
        .swiper-container {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .slideinup {
                        transform: translateY(0%);
                        opacity: 1;
                        transition-delay: .5s;
                    }

                    .vy-star {
                        i {
                            opacity: 1;

                            &:nth-child(1) {
                                transition-delay: 0.8s;
                            }
                            &:nth-child(2) {
                                transition-delay: 0.9s;
                            }
                            &:nth-child(3) {
                                transition-delay: 1s;
                            }
                            &:nth-child(4) {
                                transition-delay: 1.1s;
                            }
                            &:nth-child(5) {
                                transition-delay: 1.2s;
                            }
                        }
                    }
                }
            }
        }

        .vt-testi-slider-nav-2 {
            margin-top: 0;

            .slider-btn {
                border-color: rgb(53 51 255 / 12%);
                color: var(--vy-clr-pr-1);
                cursor: pointer;

                i {
                    font-weight: 700;
                }

                &:hover {
                    background: var(--vy-clr-white-1);
                    transform: scale(90%);
                    border-color: rgb(53 51 255 / 100%);
                }
            }

            .vt-testi-pagination-2 {
                height: auto;
                color: #888888;
                font-size: 16px;

                .swiper-pagination-current {
                    color: var(--vy-clr-pr-1);
                }
            }
        }
    }
    
}



/* 
    testimonial-2-end
*/